<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CacheCloud</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <#include '/inc/frontResources.html'>
  </head>

  <body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
      <#include '/inc/head.html'>
      <div class="content-wrapper ml-0">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h4>
                      <img width="70" height="60" src="${request.contextPath}/assets/img/cry.jpg">
                      您查找的内容不存在，请确认。
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>