<!DOCTYPE html>
<head>
    <meta charset=UTF-8/>
    <title>应用日报</title>
</head>
<body>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>

<table style="width:100%; font-size:12px;" width="100%" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 5px;">
    </colgroup>

    <tr>
        <td>
        </td>
        <td style="padding-top:20px; padding-left:27px;">
            <ul>
                <li>
                    <span style="font-weight: bold; padding-top:20px; color:#3f3f3f;">
                        应用异常情况
                        <a target="_blank" href="${ccDomain}/manage/app/stat/list?tabId=0&searchDate=$!searchDate">【查看更多--后台】</a>
                    </span>
                </li>
            </ul>
            <table style="table-layout:fixed;width: 872px;border-collapse: collapse;word-break: break-all;word-wrap:break-word;border-top: 1px dotted #676767;text-align: center;color: #000; font-family:'宋体'; font-size:12px; margin-top:10px; margin-left: 24px">
                <tr>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用id
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用名
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        应用负责人
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        异常总量(全天)
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        连接异常(全天)
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        命令超时(全天)
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        延迟事件(全天)
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        慢查询(全天)
                    </td>
                </tr>
                #foreach($!item in $!appClientGatherStatGroup.get("expAppStats"))
                    <tr>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="/admin/app/index?appId=$!item.get("app_id")">
                                $!item.get("app_id")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).name
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 100px;">
                            $!appDescMap.get($!item.get("app_id")).officer
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/client/show/index?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&tabTag=app_client_exception_statistics">
                                $!item.get("exp_count")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/client/show/exceptionStatistics/client?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&exceptionType=0">
                                次数:$!item.get("conn_exp_count")
                            </a>
                            <br/>
                            平均耗时(ms):$!item.get("avg_conn_exp_cost")
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/client/show/exceptionStatistics/client?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&exceptionType=1">
                                次数:$!item.get("cmd_exp_count")
                            </a>
                            <br/>
                            平均耗时(ms):$!item.get("avg_cmd_exp_cost")
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&tabTag=app_latency">
                                $!item.get("latency_count")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&tabTag=app_latency">
                                $!item.get("slow_log_count")
                            </a>
                        </td>
                    </tr>
                #end
            </table>


            <ul>
                <li>
                    <span style="font-weight: bold; padding-top:20px; color:#3f3f3f;">
                    应用延迟事件（top 10）
                        <a target="_blank" href="${ccDomain}/manage/app/stat/list?tabId=0&searchDate=$!searchDate">【查看更多--后台】</a>
                    </span>
                </li>
            </ul>
            <table style="table-layout:fixed;width: 872px;border-collapse: collapse;word-break: break-all;word-wrap:break-word;border-top: 1px dotted #676767;text-align: center;color: #000; font-family:'宋体'; font-size:12px; margin-top:10px; margin-left: 24px">
                <tr>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用id
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用名
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        应用负责人
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        延迟事件(全天)
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        慢查询(全天)
                    </td>
                </tr>
                #foreach($!item in $!appClientGatherStatGroup.get("latencyAppStats"))
                    <tr>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?appId=$!item.get("app_id")">
                                $!item.get("app_id")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).name
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 100px;">
                            $!appDescMap.get($!item.get("app_id")).officer
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&tabTag=app_latency">
                                $!item.get("latency_count")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?searchDate=$!searchDate&appId=$!item.get(
                                   "app_id")&tabTag=app_latency">
                                $!item.get("slow_log_count")
                            </a>
                        </td>
                    </tr>
                #end
            </table>


            <ul>
                <li>
                    <span style="font-weight: bold; padding-top:20px; color:#3f3f3f;">
                    应用拓扑诊断
                        <a target="_blank" href="${ccDomain}/manage/app/stat/list/server?tabId=3&searchDate=$!searchDate">【查看更多--后台】</a>
                    </span>
                </li>
            </ul>
            <table style="table-layout:fixed;width: 872px;border-collapse: collapse;word-break: break-all;word-wrap:break-word;border-top: 1px dotted #676767;text-align: center;color: #000; font-family:'宋体'; font-size:12px; margin-top:10px; margin-left: 24px">
                <tr>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用id
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用名
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        应用负责人
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        redis类型
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        redis版本
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        拓扑诊断结果
                    </td>
                </tr>
                #foreach($!item in $!appClientGatherStatGroup.get("topologyAppStats"))
                    <tr>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?appId=$!item.get("app_id")">
                                $!item.get("app_id")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).name
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 100px;">
                            $!appDescMap.get($!item.get("app_id")).officer
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).typeDesc
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).versionName
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <span style="color:red">异常</span>
                            [<a target="_blank" href="${ccDomain}/manage/app/index.do?appId=$!item.get("app_id")&tabTag=app_ops_tool">查看诊断</a>]
                        </td>
                    </tr>
                #end
            </table>


            <ul>
                <li>
                    <span style="font-weight: bold; padding-top:20px; color:#3f3f3f;">
                        应用内存使用情况（bottom 10）
                        <a target="_blank" href="${ccDomain}/manage/app/stat/list/server?tabId=1&searchDate=$!searchDate">【查看更多--后台】</a>
                </span>
                </li>
            </ul>
            <table style="table-layout:fixed;width: 872px;border-collapse: collapse;word-break: break-all;word-wrap:break-word;border-top: 1px dotted #676767;text-align: center;color: #000; font-family:'宋体'; font-size:12px; margin-top:10px; margin-left: 24px">
                <tr>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用id
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用名
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        应用负责人
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        redis类型
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        内存
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        使用内存
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        内存使用率
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用客户端连接
                    </td>
                </tr>
                #foreach($!item in $!appClientGatherStatGroup.get("memAlterAppStats"))
                        <tr>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                <a target="_blank"
                                   href="${ccDomain}/admin/app/index?appId=$!item.get("app_id")">
                                    $!item.get("app_id")
                                </a>
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                $!appDescMap.get($!item.get("app_id")).name
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 100px;">
                                $!appDescMap.get($!item.get("app_id")).officer
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                $!appDescMap.get($!item.get("app_id")).typeDesc
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                $!item.get("format_mem") G
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                $!item.get("format_used_memory") G
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                $!item.get("mem_used_ratio") %
                            </td>
                            <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                                <a href="${ccDomain}/admin/app/index?appId=$!item.get("app_id")&tabTag=app_clientList"
                                   target="_blank">
                                    $!item.get("connected_clients")
                                </a>
                            </td>
                        </tr>
                #end
            </table>


            <ul>
                <li>
                    <span style="font-weight: bold; padding-top:20px; color:#3f3f3f;">
                        应用碎片率情况（top 10）
                        <a target="_blank" href="${ccDomain}/manage/app/stat/list/server?tabId=2&searchDate=$!searchDate">【查看更多--后台】</a>
                </span>
                </li>
            </ul>
            <table style="table-layout:fixed;width: 872px;border-collapse: collapse;word-break: break-all;word-wrap:break-word;border-top: 1px dotted #676767;text-align: center;color: #000; font-family:'宋体'; font-size:12px; margin-top:10px; margin-left: 24px">
                <tr>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用id
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        应用名
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 150px;/">
                        应用负责人
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        redis版本
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        内存使用
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        rss内存使用
                    </td>
                    <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                        平均碎片率
                    </td>
                </tr>
                #foreach($!item in $!appClientGatherStatGroup.get("fragRatioAppStats"))
                    <tr>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            <a target="_blank"
                               href="${ccDomain}/admin/app/index?appId=$!item.get("app_id")">
                                $!item.get("app_id")
                            </a>
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).name
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 100px;">
                            $!appDescMap.get($!item.get("app_id")).officer
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!appDescMap.get($!item.get("app_id")).versionName
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!item.get("format_used_memory") G
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!item.get("format_used_memory_rss") G
                        </td>
                        <td style="border-right: 1px dotted #676767; border-bottom: 1px dotted #676767; height:33px; width: 50px;">
                            $!item.get("avg_mem_frag_ratio")
                        </td>
                    </tr>
                #end
            </table>

        </td>
    </tr>

</table>
</p>
</body>
</html>