<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          应用详情-
          ${appDesc.name!}
          (${appDesc.typeDesc!})
        </h3>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
          <tr>
            <td>应用id</td>
            <td>${appDesc.appId!}</td>
            <td>应用名称</td>
            <td>${appDesc.name!}</td>
          </tr>
          <tr>
            <td>应用申请人</td>
            <td>${appDesc.officer!}</td>
            <td>应用类型</td>
            <td>${appDesc.typeDesc!}</td>
          </tr>
          <tr>
            <td>负责人</td>
            <td>${appDesc.officer!}</td>
            <td>详情</td>
            <td>${appDesc.intro!}</td>
          </tr>
          <tr>
            <td>创建时间</td>
            <td>${appDesc.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
            <td>审批通过时间</td>
            <td>${appDesc.passedTime?string("yyyy-MM-dd HH:mm:ss")}</td>
          </tr>
          <tr>
            <td>测试</td>
            <td>
              <#if (appDesc.isTest == 0)>否
              <#elseif (appDesc.isTest == 1)>是
              </#if>
            </td>
            <td>后端是否有数据源</td>
            <td>
              <#if (appDesc.hasBackStore == 0)>有
              <#elseif (appDesc.hasBackStore == 1)>无
              </#if>
            </td>
          </tr>
          <tr>
            <td>是否需要持久化</td>
            <td>
              <#if (appDesc.needPersistence == 0)>不需要
              <#elseif (appDesc.needPersistence == 1)>需要
              </#if>
            </td>
            <td>预计对象数</td>
            <td>${appDesc.forecastObjNum!}</td>
          </tr>
          <tr>
            <td>预计QPS</td>
            <td>${appDesc.forecaseQps!}</td>
            <td>是否需要热备</td>
            <td>
              <#if (appDesc.needHotBackUp == 0)>不需要
              <#elseif (appDesc.needHotBackUp == 1)>需要
              </#if>
            </td>
          </tr>
          <tr>
            <td>内存报警阀值</td>
            <td>${appDesc.memAlertValue!}%</td>
            <td>淘汰策略</td>
            <td>${appDesc.maxmemoryPolicyDesc!}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th>审批id</th>
            <th>申请人</th>
            <th>申请类型</th>
            <th>申请详情</th>
            <th>申请时间</th>
            <th>审批时间</th>
            <th>审批人</th>
            <th>审批结果</th>
            <th>审批意见</th>
          </tr>
          </thead>
          <tbody>
          <#list appAuditList as appAudit>
            <tr>
              <td>${appAudit.id!}</td>
              <td>${appAudit.userName!}</td>
              <td>
                <#if (appAudit.type == 0)>申请应用
                <#elseif (appAudit.type == 1)>应用扩容
                <#elseif (appAudit.type == 2)>修改配置
                </#if>
              </td>
              <td>${appAudit.info!}</td>
              <td>${appAudit.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
              <td>${appAudit.modifyTime?string("yyyy-MM-dd HH:mm:ss")}</td>
              <td>
                <#if appAudit.appAuditLog?? && appAudit.appAuditLog.appUser??>
                  ${appAudit.appAuditLog.appUser.name!}
                </#if>
              </td>
              <td>
                <#if (appAudit.status == 1)>审批通过
                <#elseif (appAudit.status == -1)>驳回
                </#if>
              </td>
              <td>${appAudit.refuseReason!}</td>
            </tr>
          </#list>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

