spring:
  application:
    name: cloud.cachecloud-web.open
    import: classpath:spring/spring.xml

server:
  port: 8080
  domain: 127.0.0.1:8080

cachecloud:
  primary:
    url: jdbc:mysql://127.0.0.1:3306/cachecloud-open?useUnicode=true&characterEncoding=UTF8&autoReconnect=true&connectTimeout=3000&socketTimeout=10000&serverTimezone=Asia/Shanghai
    user: cachecloud-open
    password: cachecloud-open
    initialPoolSize: 10
    maxPoolSize: 50
  redis:
    main:
      host: 127.0.0.1
      port: 6379
      password:
  web:
    clients: 127.0.0.1