<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CacheCloud管理后台</title>
  <#include "/manage/inc/backendResources.html">
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
  <#include "/manage/inc/head.html">
  <#include "/manage/inc/left.html">

  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content pt-3">
      <div class="container-fluid">
        <#include "/manage/totalstat/totalList.html">
      </div>
    </section>
  </div><!-- End #main -->

<#include "/manage/inc/footer.html">

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>

</body>
<#include "/manage/inc/backendEndResources.html">
</html>
