/*** 
Email Template Page 
***/
.mail-template ul { 
  padding:0px;
  margin: 0px; 
  list-style:none;
}

.mail-template li {
  float: left;
  padding: 0;
  margin:0 5px 0 0;
  cursor:pointer;
  list-style:none;
  border:solid 2px #fff;
}

.mail-template li:hover {
  border:solid 2px #aaa;
}

.mail-template li a{
  display:inline-block;
  padding:16px 25px;
}

.mail-template li a:hover {
	text-decoration: none;
}

.mail-template li.color-black {
  background:#1f1f1f;
}

.mail-template li.color-darkblue {
  background:#1570a6;
}

.mail-template li.color-lightblue {
  background:#4aabf9;
}

.mail-template li.color-red {
  background:#eb4d41;
}

.mail-template li.color-green {
  background:#28b779;
}