<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>配置预览</title>
</head>

<body STYLE="BACKGROUND-COLOR:#000;color:#FFF">
  <#if type?? && (type == 2)>
      Redis Cluster配置，所用参数port=${port!}
  <#elseif type?? && (type == 5)>
      Redis Sentinel配置，所用参数masterName=${masterName!},host:port=${host!}:${port!}, sentinelPort=${sentinelPort!}
  <#elseif type?? && (type == 6)>
      Redis普通节点配置，所用参数host=${host!} port=${port!},maxmemory=${maxMemory!}
  </#if>

  <br/><br/>配置模板预览:<br/>

  <#list configList as line>
    <font color="white">${line!}</font><br/>
  </#list>
</body>
</html>
