<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        " default-autowire="byName">

    <!--初始化加载已有实例，测试时禁用-->
    <bean class="com.sohu.cache.init.RedisInitLoad" init-method="init" />
    <bean class="com.sohu.cache.init.MachineInitLoad" init-method="init" />
</beans>