<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <import resource="classpath:spring/spring-config.xml"/>
    <import resource="classpath:spring/spring-quartz.xml"/>
	<import resource="classpath:spring/spring-load.xml"/>
    <import resource="classpath:spring/spring-mybatis.xml"/>
    <import resource="classpath:spring/spring-service.xml"/>
    <import resource="classpath:spring/spring-data.xml"/>
    <import resource="classpath:spring/spring-manage.xml"/>
    <import resource="classpath:spring/spring-mvc.xml"/>
	<import resource="classpath:spring/spring-jmx.xml"/>
	<import resource="classpath:spring/spring-alert.xml"/>
	<import resource="classpath:spring/spring-client-report.xml"/>
	<import resource="classpath:spring/spring-inspector.xml"/>
</beans>