<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-autowire="byName">

    <bean id="hostInspectHandler" class="com.sohu.cache.inspect.impl.HostInspectHandler" init-method="init">
        <property name="inspectorList">
            <list>
                <bean class="com.sohu.cache.inspect.impl.InstanceRunInspector"/>
                <bean class="com.sohu.cache.inspect.impl.RedisIsolationPersistenceInspector"/>
            </list>
        </property>
    </bean>

    <bean id="appInspectHandler" class="com.sohu.cache.inspect.impl.AppInspectHandler" init-method="init">
        <property name="inspectorList">
        	<list>
        		<bean class="com.sohu.cache.inspect.impl.AppMemInspector"/>
            	<bean class="com.sohu.cache.inspect.impl.AppClientConnInspector"/>
        	</list>
        </property>
    </bean>

</beans>