<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-autowire="byName">

    <bean id="appService" class="com.sohu.cache.web.service.impl.AppServiceImpl"/>

    <bean id="memFaultService" class="com.sohu.cache.web.service.impl.MemFaultServiceImpl"/>

    <bean id="userService" class="com.sohu.cache.web.service.impl.UserServiceImpl"/>

	<!-- 邮件报警 -->
    <bean id="emailComponent" class="com.sohu.cache.web.component.EmailComponentImpl"/>

	<!-- 短信报警 -->
	<bean id="mobileAlertComponent" class="com.sohu.cache.web.component.MobileAlertComponentImpl"/>
	
	<!-- 应用相关审核变更通知 -->
    <bean id="appEmailUtil" class="com.sohu.cache.web.util.AppEmailUtil"/>
    
    <!-- 登录状态相关cookie和session根据配置切换 -->
    <bean id="userLoginStatusSessionService" class="com.sohu.cache.web.service.impl.UserLoginStatusSessionServiceImpl"/>
    <bean id="userLoginStatusCookieService" class="com.sohu.cache.web.service.impl.UserLoginStatusCookieServiceImpl"/>
    
    <util:map id="userloginTypeMap" key-type="com.sohu.cache.constant.UserLoginTypeEnum" value-type="com.sohu.cache.web.service.UserLoginStatusService">
        <entry key="SESSION" value-ref="userLoginStatusSessionService"/>
        <entry key="COOKIE" value-ref="userLoginStatusCookieService"/>
    </util:map>
    <bean id="userLoginStatusFactory" class="com.sohu.cache.web.factory.UserLoginStatusFactory">
    	<property name="userloginTypeMap" ref="userloginTypeMap"></property>
    </bean>
    <bean id="userLoginStatusService" factory-bean="userLoginStatusFactory" factory-method="getUserLoginStatusService"/>
	
	<bean id="appDailyDataCenter" class="com.sohu.cache.stats.app.impl.AppDailyDataCenterImpl"/>
	
</beans>