<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName">
	
	<!-- 处理上报数据接口 -->
	<bean id="clientReportDataService"
		class="com.sohu.cache.client.service.impl.ClientReportDataServiceImpl"
		init-method="init" />

	<!-- 耗时分布  -->
	<bean id="clientReportCostDistriService"
		class="com.sohu.cache.client.service.impl.ClientReportCostDistriServiceImpl" />
	<!-- 客户端异常 -->
	<bean id="clientReportExceptionService"
		class="com.sohu.cache.client.service.impl.ClientReportExceptionServiceImpl" />
	<!-- 值分布 -->
	<bean id="clientReportValueDistriService"
		class="com.sohu.cache.client.service.impl.ClientReportValueDistriServiceImplV2" />
	<!-- 客户端统计map大小统计，防止内存泄露 -->
	<bean id="clientReportDataSizeService"
		class="com.sohu.cache.client.service.impl.ClientReportDataSizeServiceImpl"/>
		
	<!-- 客户端版本收集 -->
	<bean id="clientVersionService" class="com.sohu.cache.client.service.impl.ClientVersionServiceImpl"/>
	
	<!-- 应用下节点和客户端对应关系 -->
	<bean id="appInstanceClientRelationService" class="com.sohu.cache.client.service.impl.AppInstanceClientRelationServiceImpl"/>
	
	<bean id="clientReportInstanceService" class="com.sohu.cache.client.service.impl.ClientReportInstanceServiceImpl"/>

</beans>