<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        " default-autowire="byName">

    <!--redis调度接口-->
    <bean id="redisCenter" class="com.sohu.cache.redis.impl.RedisCenterImpl" init-method="init" destroy-method="destory"/>

    <!--machine调度接口-->
    <bean id="machineCenter" class="com.sohu.cache.machine.impl.MachineCenterImpl"  init-method="init"/>

    <!--quartz调度接口-->
    <bean id="schedulerCenter" class="com.sohu.cache.schedule.impl.SchedulerCenterImpl" />

    <!--trigger管理接口-->
    <bean id="triggerCenter" class="com.sohu.cache.schedule.impl.TriggerCenterImpl"/>

    <!--异步接口-->
    <bean id="asyncService" class="com.sohu.cache.async.impl.AsyncServiceImpl" destroy-method="destory"/>

    <!--app service接口-->
    <bean id="appStatsCenter" class="com.sohu.cache.stats.app.impl.AppStatsCenterImpl"/>

    <!--app deloy接口-->
    <bean id="appDeployCenter" class="com.sohu.cache.stats.app.impl.AppDeployCenterImpl"/>

    <bean id="redisDeployCenter" class="com.sohu.cache.redis.impl.RedisDeployCenterImpl"/>

    <bean id="machineDeployCenter" class="com.sohu.cache.machine.impl.MachineDeployCenterImpl"/>

    <bean id="instanceStatsCenter" class="com.sohu.cache.stats.instance.impl.InstanceStatsCenterImpl"/>

    <bean id="instanceDeployCenter" class="com.sohu.cache.stats.instance.impl.InstanceDeployCenterImpl"/>
    
    <bean id="importAppCenter" class="com.sohu.cache.stats.app.impl.ImportAppCenterImpl"/>
    
    <bean id="appDataMigrateCenter" class="com.sohu.cache.stats.app.impl.AppDataMigrateCenterImpl"/>
    
    <bean id="redisConfigTemplateService" class="com.sohu.cache.redis.impl.RedisConfigTemplateServiceImpl"/>

    <!-- 服务器状况服务 -->
    <bean id="nmonService" class="com.sohu.cache.server.nmon.NMONService"/>
    
    <bean id="sshTemplate" class="com.sohu.cache.ssh.SSHTemplate"/>
    
    <bean id="serverStatusCollector" class="com.sohu.cache.server.ServerStatusCollector" init-method="init"/>
    
    <bean id="serverDataService" class="com.sohu.cache.web.service.impl.ServerDataServiceImpl"/>
    
    <bean id="instanceAlertValueService" class="com.sohu.cache.stats.instance.impl.InstanceAlertValueServiceImpl"/>

</beans>
