<script type="text/javascript">
  function appKeyAnalysis(){
    var appId = $('#keyAnalysis_appId').selectpicker('val');
    if (appId == null || appId == '') {
      alert("请选择应用");
      $('#keyAnalysis_appId').focus();
      return false;
    }

    var reason = document.getElementById("appAnalysisReason");
    if(reason.value == ""){
      alert("请填写键值分析原因!");
      reason.focus();
      return false;
    }
    var nodeInfos = $('#instance-select').selectpicker('val');

    if(!confirm("确认提交键值分析申请？")){
      return ;
    }

    var btn = document.getElementById("appKeyAnalysisBtn");
    btn.disabled = true;

    $.post(
            '${request.contextPath}/admin/app/keyAnalysis',
            {
              appId: appId,
              nodeInfo: nodeInfos == null ? "" : nodeInfos.toString(),
              appAnalysisReason: reason.value
            },
            function(data){
              if (data == 1) {
                $("#appKeyAnalysisInfo").html("<div class='alert alert-error' ><font color='green'><strong>Success!</strong>键值分析申请提交成功，即将跳转工单列表！</font><button class='btn-close' data-bs-dismiss='alert'></button></div>");
                setTimeout("location.href = '${request.contextPath}/admin/app/jobs'", 1000);
              } else {
                btn.disabled = false;
                $("#appKeyAnalysisInfo").html("<div class='alert alert-error' ><font color='red'><strong>Error!</strong>更新失败！<font><button class='btn-close' data-bs-dismiss='alert'></button></div>");
              }
            }
    );
  }
</script>

<div class="card-header">
  <h4 class="card-title">
    集群键值分析
  </h4>
</div>

<div class="card-body">
    <div class="row">
      <div class="form-group row">
        <label class="col-form-label col-md-2 offset-md-1">应用<font color='red'>(*)</font></label>
        <div class="col-md-5">
          <select id="keyAnalysis_appId" name="appId" class="selectpicker show-tick col-md-12  border rounded"
                  data-live-search="true" title="选择应用"
                  onchange="changeAppIdSelect(this.value,'instance-select', '${request.contextPath}')">
            <option value="">选择应用</option>
            <#list appDescMap?keys as key>
              <#assign appDesc = appDescMap?api.get(key)>
              <#if (appDesc.status==2)>
            <option value="${appDesc.appId}" title="${appDesc.appId} ${appDesc.name}" <#if (appId?? && appId == appDesc.appId)>selected</#if>>
                  【${appDesc.appId}】&nbsp;名称：${appDesc.name}&nbsp;类型：${appDesc.typeDesc}&nbsp;版本：${appDesc.versionName}
                </option>
              </#if>
            </#list>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-md-2 offset-md-1">实例</label>
        <div class="col-md-5">
          <select id="instance-select" name="nodes"
                  class="selectpicker col-md-12 border rounded" multiple
                  data-live-search="true" title="选择实例 (默认所有主节点)" data-size="8">
            <#if appInstanceList??>
              <#list appInstanceList as instanceInfo>
                <option value="${instanceInfo.hostPort}" <#if instanceId?? && (instanceId == instanceInfo.id)>selected</#if>>
                ${instanceInfo.hostPort}（角色：${instanceInfo.roleDesc})
                </option>
              </#list>
            </#if>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-md-2 offset-md-1">申请原因<font color='red'>(*)</font></label>
        <div class="col-md-5">
          <textarea rows="5"  name="appAnalysisReason" id="appAnalysisReason" placeholder="申请原因" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="text-center">
          <button id="appKeyAnalysisBtn" class="btn btn-info" onclick="appKeyAnalysis()">
            <i class="bi bi-check"></i>
            提交申请
          </button>
        </div>
      </div>

      <div class="form-group row">
        <div id="appKeyAnalysisInfo" class="offset-md-3 col-md-9"></div>
      </div>

    </div>

</div>
