<script type="text/javascript">
  function appOfflineApply(){
    var appId = $('#appOffline_appId').selectpicker('val');
    if (appId == null || appId == '') {
      alert("请选择应用");
      $('#appOffline_appId').focus();
      return false;
    }

    var reason = document.getElementById("appOfflineReason");
    if(reason.value == ""){
      alert("请填应用下线原因!");
      reason.focus();
      return false;
    }

    if(!confirm("确认提交应用下线申请？")){
      return ;
    }

    var btn = document.getElementById("appOfflineBtn");
    btn.disabled = true;

    $.post(
            '${request.contextPath}/admin/app/job/submit',
            {
              jobType: 10,
              appId: appId,
              reason: reason.value
            },
            function(data){
              if(data==1){
                $("#appOfflineInfo").html("<div class='alert alert-error' ><font color='green'><strong>Success!</strong>应用诊断申请提交成功，即将跳转工单列表！</font><button class='btn-close' data-bs-dismiss='alert'></button></div>");
                setTimeout("location.href = '${request.contextPath}/admin/app/jobs'",1000);
              }else{
                btn.disabled = false;
                $("#appOfflineInfo").html("<div class='alert alert-error' ><font color='red'><strong>Error!</strong>更新失败！<font><button class='btn-close' data-bs-dismiss='alert'></button></div>");
              }
            }
    );
  }
</script>

<div class="card-header">
  <h4 class="card-title">
    应用下线
  </h4>
</div>

<div class="card-body">
    <div class="row">
      <div class="form-group row">
        <label class="col-form-label col-md-2 offset-md-1">应用<font color='red'>(*)</font></label>
        <div class="col-md-5">
          <select id="appOffline_appId" name="appId" class="selectpicker show-tick col-md-12 border rounded"
                  data-live-search="true" title="选择应用">
            <option value="">选择应用</option>
            <#list appDescMap?keys as key>
              <#assign appDesc = appDescMap?api.get(key)>
              <#if (appDesc.status==2)>
                <option value="${appDesc.appId}" title="${appDesc.appId} ${appDesc.name}">
                  【${appDesc.appId}】&nbsp;名称：${appDesc.name}&nbsp;类型：${appDesc.typeDesc}&nbsp;版本：${appDesc.versionName}
                </option>
              </#if>
            </#list>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-md-2 offset-md-1">申请原因<font color='red'>(*)</font></label>
        <div class="col-md-5">
          <textarea rows="5" name="appOfflineReason" id="appOfflineReason" placeholder="申请下线原因" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="text-center">
          <button id="appOfflineBtn" class="btn btn-info" onclick="appOfflineApply()">
            <i class="bi bi-check"></i>
            提交下线申请
          </button>
        </div>
      </div>

      <div class="input-group row">
        <div id="appOfflineInfo" class="offset-md-3 col-md-9"></div>
      </div>

    </div>

</div>
