<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CacheCloud管理后台</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <#include "/manage/inc/backendResources.html">
</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
  <#include "/manage/inc/head.html">
  <#include "/manage/inc/left.html">

  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content pt-3">
      <div class="container-fluid">
        <#include "taskIndex.html">
      </div>
    </section>
  </div><!-- End #main -->

  <#include "/manage/inc/footer.html">

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>

<script>
  var TableManaged = function () {
    return {
      //main function to initiate the module
      init: function () {
        if (!jQuery().dataTable) {
          return;
        }
        console.log("jQuery().dataTable");
        $('#tableDataList').dataTable({
          "searching": true,
          // "scrollX": true,
          // "autoWidth": true,
          "ordering": true,
          "lengthChange": false,
          "pageLength": 10,
          "language": {
            "paginate": {
              "first": "<<",
              "previous": "<",
              "next": ">",
              "last": ">>"
            },
            "lengthMenu": "每页显示 _MENU_条",
            "zeroRecords": "没有找到符合条件的数据",
            "info": "共_PAGES_页,_TOTAL_条",
            "infoFiltered": "",
            "infoEmpty":"共0页,0条",
          }
        });
      }
    };
  }();

  $(function () {
    TableManaged.init();
  });
</script>
</body>
<#include "/manage/inc/backendEndResources.html">
</html>