<!-- Vendor CSS Files -->
<link href="${request.contextPath}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
<link href="${request.contextPath}/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/simple-datatables/style.css" rel="stylesheet">
<link href="${request.contextPath}/assets/vendor/data-tables/css/dataTables.bootstrap5.css" rel="stylesheet">


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="${request.contextPath}/assets/vendor/fonts/fonts-googleapis-source-sans-pro.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="${request.contextPath}/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="${request.contextPath}/assets/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="${request.contextPath}/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

<link rel="stylesheet" href="${request.contextPath}/assets/css/custom.css">

<!-- Vendor JS Files -->
<script src="${request.contextPath}/assets/vendor/jquery/jquery-3.7.0.min.js"></script>
<script src="${request.contextPath}/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="${request.contextPath}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="${request.contextPath}/assets/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="${request.contextPath}/assets/vendor/chart.js/chart.umd.js"></script>
<script src="${request.contextPath}/assets/vendor/echarts/echarts.min.js"></script>
<script src="${request.contextPath}/assets/vendor/quill/quill.min.js"></script>
<script src="${request.contextPath}/assets/vendor/data-tables/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="${request.contextPath}/assets/vendor/data-tables/js/dataTables.bootstrap5.js" type="text/javascript"></script>
<script src="${request.contextPath}/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="${request.contextPath}/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="${request.contextPath}/assets/vendor/php-email-form/validate.js"></script>
<script src="${request.contextPath}/assets/js/custom/auditManage.js" type="text/javascript"></script>
<script src="${request.contextPath}/assets/js/custom/userManage.js" type="text/javascript"></script>